<!DOCTYPE html>
<html>
    <head>
        <title>Exemplos Spring MVC</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Spring MVC - Exemplo 6</h1>
            <div th:if="${dados != null}">
                <p>Nome: <span th:text="${dados.nome}">xxxxxxxx</span></p>
                <p>Data nascimento: <span data-th-text="${dados.dataNascimento}">yyyy-MM-dd</span></p>
                <p>Número: <span data-th-text="${dados.numero}">00</span></p>                 
            </div>
            <div th:unless="${dados != null}">
                <p>Apelido não existe</p>
            </div>

        </div>
    </body>
</html>
