<!DOCTYPE html>
<html>
    <head>
        <title>Exemplos Spring MVC</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Spring MVC - Exemplo 8</h1>
            <ul>
                <li th:each="header : ${headers}">
                    <strong th:text="${header.key}"></strong>: <span th:text="${header.value}"></span>
                </li>
            </ul>
        </div>
    </body>
</html>
