<!doctype html>
<html class="h-100" layout:decorate="~{layout/layout-modelo2}">
<head>
<title>Tela 1 com layout</title>
<meta charset="UTF-8">
</head>
<body>
  <main class="container" layout:fragment="conteudoEspecifico">
    <div class="jumbotron">
      <h1>Navbar example</h1>
      <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you
        scroll, this navbar remains in its original position and moves with the rest of the page.</p>
      <a class="btn btn-lg btn-primary" href="/docs/4.3/components/navbar/" role="button">View navbar docs &raquo;</a>
    </div>
  </main>
</body>
</html>